<!-- file name: index.html  -->
<!-- pwd : /home/src/roomManager/app/templates/main/index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Room Manager</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>

  <body>

    <div class="header">
        <div class="row">
            <h1>Room Manager</h1>
            <div class="header-right">
                <a href="/login">Home</a>
                 <a href="/logout">Preset</a>
                <a href="/signup">Calendar</a>
                <a href="/logout">Settings</a>
            </div>
        </div>
    </div>

    <div class="wrappar">
        <div class="content">

            <div class="status">
                <!-- すでに実行中の予定があれば表示する -->
                <h3 class="warning">{{warning}}</h3>
                <!-- room statusを表示 -->
                <h1>
                    {{status}}
                </h1>
            </div>

            <div class="lcd">
                <!-- LCDモニターのプレビューと入力を行う -->
                <h3>Enter message on LCD</h3>
                    <form class="lcd_form" action="/main" method="post">
                        <input class="lcd_form" type="text" name="message"
                         placeholder={{message}}>
                </div>

            <div class="row">
                    <!-- ボタンを表示 -->
                    <input name="status" type="radio" value="対応可能">
                    <label>対応可能</label>

                    <input name="status" type="radio" value="作業中">
                    <label>作業中</label>

                    <input name="status" type="radio" value="対応不可">
                    <label>対応不可</label>
            </div>

            <div class="reset_and_submit">
                <!-- リセットボタンと送信ボタンを表示 -->
                <input name="reset" type="reset" value="reset">
                <input name="submit" type="submit" value="submit">
                </form>
            </div>
    </div>

  </body>
</html>
