<!-- file name: index.html  -->
<!-- pwd : /home/src/roomManager/app/templates/main/index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Room Manager</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>

    <div class="header">
        <div class="row">
            <h1>Room Manager</h1>
            <div class="header-right">
                <a href="/login">aaaa</a>
                <a href="/signup">wwww</a>
                <a href="/logout">qqqq</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="wrappar">
            <div class="lcd">
                <!-- LCDモニターのプレビューと入力を行う -->
                <h3>Enter message on LCD</h3>
                    <form action="/main" method="post">
                    <input type="text" name="message" />
                    <input type="submit" value="submit" />
            </div>
            <div class="status">
                <!-- room statusを表示 -->
                <h1>仮置き</h1>
            </div>
            <div class="row">
                <!-- ボタンを表示 -->
                <a href="">button1</a>
                <a href="">button2</a>
                <a href="">button3</a>
        </div>
    </div>

  </body>
</html>
